<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluid" [class.root]="isRoot == true">
    <app-navbar></app-navbar>
    <app-global-spinner [hidden]="hideSpinner"></app-global-spinner>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</div>