.container-fluid {
    background: #eee;
    background-size: cover;
    font-family: 'Open Sans Light', sans-serif;
    app-footer {
    	position: absolute;
    	bottom: 0;
    	width: calc(100% - 30px);
    }
}

.container-fluid.root {
    background: url('../assets/images/background.png');
}

.main-content {
    padding: 20px 0;
    max-width: 1300px;
    margin: 0 auto;
    @media screen and (max-width: 1024px) {
    	padding-bottom: 120px;
    }
}