.form-signin {
    background: #fff;
    //border: 1px solid #eee;
    // border-radius: 10px;
    padding-bottom: 30px;
    //height: 702px;
    //border-top: #00a3e0 4px solid;
    .form-signin-icon {
        position: relative;
        top: -40px;
        img {
            border: 1px solid #ffffff;
            border-radius: 40px;
        }
    }
    .form-signin-inputs {
        //margin-top: -25px;
        .message {
            background: #9dd4cf;
            color: #fff;
            font-family: 'Open Sans SemiBold';
            padding: 6px 10px;
            margin-top: 20px;
            img {
                width: 30px;
                margin-right: 10px;
                display: inline-block;
            }
            div {
                display: inline-block;
                width: calc(100% - 40px);
                vertical-align: middle;
                font-size: 13px;
            }
        }
        .error-message {
            background: #da291c;
        }
        padding: 0 72px;
        @media screen and (max-width: 1024px) {
            padding: 0 40px;
        }
        input {
            width: 100%;
            height: 40px;
            margin-top: 15px;
            padding: 19px 0 19px 15px;
            outline: none;
            background: #FFFFFF;
            border: 1px solid #9DD4CF;
            border-radius: 3px;
            font-size: 16px;
            color: #000000;
        }
        .title {
            font-size: 36px;
            color: #000000;
            letter-spacing: 0;
            font-weight: 300;
            line-height: 60px;
            margin-top: 15px;
        }
        .forgot-password {
            font-size: 16px;
            color: #012269;
            letter-spacing: 0;
            margin: 10px 0;
        }
        .btn-login {
            width: 100%;
            height: 45px;
            font-size: 14px;
            color: #ffffff;
            font-weight: 300;
            background: #7FC342;
            border-radius: 2px;
            &:disabled {
                background-color: #bbbdbc;
                border-color: #bbbdbc;
                opacity: 1;
            }
        }
        .err-msg {
            position: absolute;
            font-size: 12px;
            color: red;
        }
    }
    .form-signin-register {
        text-align: center;
        font-size: 16px;
        color: #74787B;
        letter-spacing: 0;
        opacity: 0.96;
        margin-top: 14px;
        p {
            margin-bottom: 0;
        }
        a {
            color: #01102D;
            line-height: 22px;
        }
    }
    .tool-tip {
        width: 25px;
        height: 25px;
        background: url('../../assets/icons/tool-tip.svg')
    }
    .form-errors {
        color: red;
        font-size: 13px;
        line-height: 14px;
    }
    .form-sign-in-poster {
        padding: 0;
        // background: url('../../assets/images/loginGradient.png');
        // background-size: cover;
        .image {
            height: 100%;
            background: url('../../assets/images/loginbg-5.jpg');
            background-size: 100% 100%;
            position: relative;
        }
    }
    .form-signin-container {
        display: flex;
        @media screen and (max-width: 1024px) {
            margin-top: 25%;
        }
    }
    hr {
        width: 40%;
        margin: 0 0 10px 0;
        padding: 0;
        background: linear-gradient(to right, #979797 100%, #C8C8C8 0%);
    }
}