<div class="row">
  <div class="col-sm-offset-1 col-sm-10 form-signin">
    <div class="row form-signin-container">
      <div class="col-sm-6 form-sign-in-poster">
        <div class="image"></div>
      </div>
      <div class="col-sm-6 form-signin-inputs">
        <p class="title">Login</p>
        <hr/>
        <div class="message error-message" *ngIf="requestFailed">
          <img alt="Cross" src="../assets/images/Cross.png">
          <div>Something went wrong. Please try again.</div>
        </div>
        <div class="message success-message" *ngIf="showStatusMsg && messageType=='success'">
          <img alt="Tick" src="../assets/images/Tick.png">
          <div>{{statusMsg}}</div>
        </div>
        <div class="message error-message" *ngIf="showStatusMsg && messageType=='error'">
          <img alt="Cross" src="../assets/images/Cross.png">
          <div>{{statusMsg}}</div>
        </div>
        <form #loginForm = ngForm novalidate>
          <input type="email" email placeholder="Enter your user name" [(ngModel)]="userName" required id="uName" name="uName" #uName="ngModel">
          <div *ngIf="uName.invalid && (uName.dirty || uName.touched)" class="err-msg">
            <div *ngIf="uName.errors.required">Username is required</div>
            <div *ngIf="uName.errors.email">Username is invalid</div>
          </div>

          <input type="password" placeholder="Enter your password" [(ngModel)]="password" required id="uPassword" name="uPassword" #uPassword="ngModel">
          <div [hidden]="uPassword.valid || uPassword.pristine" class="err-msg">
            Password is required
          </div>

          <p class="forgot-password"><span><a routerLink="/forgot-password" href="#">Forgot Password?</a></span></p>
          
          <button [disabled]="!loginForm.form.valid" class="btn btn-login" (click)="handleLogin()">SIGN IN</button>
        </form>
        <div class="col-sm-12 form-signin-register">
          <p>Don't have an account yet? <span><a routerLink="/register" href="#">Create an account</a></span></p>
        </div>
      </div>
    </div>
  </div>
</div>