.dashboard {
	padding: 0 135px;
	@media screen and (max-width: 1246px) {
		padding: 0 80px;
	}
	.dashboard-header {
		font-size: 36px;
		color: #000;
		font-weight: 300;
		line-height: 45px;
	}
	.dashboard-stat-section {
		padding: 35px 0;
		.stat-box {
			.stat-box-wrapper {
				background-color: #fff;
				text-align: center;
		    padding: 20px;
		    box-shadow: -10px 10px 20px 0 rgba(30,30,30,0.05);
		    height: 242px;
		    margin: 5px 0;
				.stat-icon {

				}
				.stat-count {
					font-family: 'Open Sans SemiBold';
					font-size: 36px;
					line-height: 49px;
					color: #282D32;
					margin: 10px 0;
				}
				.stat-name {
					font-size: 14px;
					color: #282D32;
				}
				.stat-index {
					margin: 25px 0 10px;
					span {
						font-size: 14px;
				    color: #7FC342;
				    font-family: 'Open Sans SemiBold';
				    vertical-align: middle;
				    margin-left: 5px;
					}
				}
				.stat-index.stat-index-down {
					span {
						color: #D2271B;
					}
				}
			}
		}
	}
	.dashboard-chart-section {
		padding-bottom: 40px;
		.charts-wrapper {
			.charts {
				background-color: #fff;
				box-shadow: -10px 10px 20px 0 rgba(30,30,30,0.05);
				padding: 30px 45px;
				margin: 5px 0;
				.chart-title {
					text-transform: uppercase;
			    color: #282D32;
			    font-size: 14px;
			    line-height: 20px;
			    font-family: 'Open Sans Regular';
			    margin-bottom: 20px;
				}
			}
		}
	}
	.project-executed-section {
		padding-bottom: 40px;
		.project-executed-wrapper {
			.project-executed {
				background-color: #fff;
				box-shadow: -10px 10px 20px 0 rgba(30,30,30,0.05);
				padding: 30px 45px;
				.project-executed-header {
					.title {
						display: inline-block;
				    text-transform: uppercase;
				    color: #282D32;
				    font-size: 14px;
				    line-height: 20px;
				    font-family: 'Open Sans Regular';
				    margin-right: 15px;
					}
					.download-report-button {
						background: #FFFFFF;
						border: 1px solid #F2F2F2;
						box-shadow: 0 10px 20px 0 rgba(227,227,227,0.50);
						border-radius: 19px;
						height: 40px;
    				padding: 0 10px;
    				font-size: 12px;
    				font-family: 'Open Sans Regular';
    				color: #4a4a4a;
    				img {
    					width: 25px;
    					margin-left: 5px;
    				}
					}
					.project-executed-filter {
						.filter {
							font-family: 'Open Sans Regular';
							font-size: 18px;
							color: #012269;
							line-height: 20px;
						}
						.filtered-option {
							font-size: 10px;
							color: #74787B;
							font-family: 'Open Sans Regular';
							line-height: 20px;
						}
					}
				}
				.project-executed-table {
					margin-top: 30px;
					table {
						thead {
							tr {
								th {
									border: 0;
									text-transform: uppercase;
									color: #000;
									font-size: 13px;
								}
								.extra-pr {
									padding-right: 25px;
								}
							}
						}
						tbody {
							tr {
								th, td {
									font-size: 15px;
									color: #74787B;
									border: 0;
									font-weight: normal;
								}
								.result-button {
									padding-right: 0;
									button {
										background: #7FC342;
								    border-radius: 4px;
								    border: 0;
								    height: 30px;
								    font-size: 14px;
								    color: #fff;
								    font-family: 'Open Sans Regular';
								    width: 65px;
									}
								}
							}
						}
					}
					.view-all-button {
						margin-bottom: 20px;
						button {
							background: transparent;
					    border: 0;
					    font-size: 18px;
					    color: #012269;
					    font-family: 'Open Sans Regular';
					    line-height: 20px;
					    padding: 6px;
						}
					}
				}
			}
		}
	}
}