<div class="dashboard">
	<div class="dashboard-header">Dashboard</div>
	<div class="dashboard-stat-section row">
		<div class="stat-box col-xs-12 col-sm-6 col-md-3">
			<div class="stat-box-wrapper">
				<div class="stat-icon">
					<img src="../assets/images/user.png">
				</div>
				<div class="stat-count">2400</div>
				<div class="stat-name">Total Users</div>
				<div class="stat-index">
					<img src="../assets/images/Triangle.png">
					<span>20.5%</span>
				</div>
			</div>
		</div>
		<div class="stat-box col-xs-12 col-sm-6 col-md-3">
			<div class="stat-box-wrapper">
				<div class="stat-icon">
					<img src="../assets/images/projects.png">
				</div>
				<div class="stat-count">200</div>
				<div class="stat-name">Projects Executed</div>
				<div class="stat-index stat-index-down">
					<img src="../assets/images/Downward.png">
					<span>20.5%</span>
				</div>
			</div>
		</div>
		<div class="stat-box col-xs-12 col-sm-6 col-md-3">
			<div class="stat-box-wrapper">
				<div class="stat-icon">
					<img src="../assets/images/test cases.png">
				</div>
				<div class="stat-count">1010</div>
				<div class="stat-name">Test Cases Executed</div>
				<div class="stat-index">
					<img src="../assets/images/Triangle.png">
					<span>0.5%</span>
				</div>
			</div>
		</div>
		<div class="stat-box col-xs-12 col-sm-6 col-md-3">
			<div class="stat-box-wrapper">
				<div class="stat-icon">
					<img src="../assets/images/time.png">
				</div>
				<div class="stat-count">2 Min</div>
				<div class="stat-name">Average Response Time</div>
				<div class="stat-index">
					<img src="../assets/images/Triangle.png">
					<span>20.5%</span>
				</div>
			</div>
		</div>
	</div>
	<div class="dashboard-chart-section row">
		<div class="projects-trend-wrapper charts-wrapper col-xs-12 col-md-7">
			<div class="charts">
				<div class="chart-title">projects trend</div>
				<div class="pie-chart" style="height: 175px">
					<canvas baseChart [chartType]="'line'" [datasets]="projectsTrendChartData" [labels]="projectsTrendChartLabels" [options]="projectsTrendChartOptions" [legend]="true" [colors]="projectsTrendChartColors"></canvas>
				</div>
			</div>
		</div>
		<div class="client-feedback-wrapper charts-wrapper col-xs-12 col-md-5">
			<div class="charts">
				<div class="chart-title">client feedback</div>
				<div class="pie-chart" style="height: 175px">
					<canvas baseChart [chartType]="'pie'" [datasets]="clientFeedbackChartData" [labels]="clientFeedbackChartLabels" [options]="clientFeedbackChartOptions" [legend]="true" [colors]="clientFeedbackChartColors"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="project-executed-section row">
		<div class="project-executed-wrapper col-xs-12">
			<div class="project-executed">
				<div class="project-executed-header">
					<div class="title">project executed</div>
					<button class="download-report-button">
						Download Report
						<img src="../assets/images/download-icon.png">
					</button>
					<div class="project-executed-filter pull-right">
						<div class="filter">Filter By</div>
						<div class="filtered-option">This Week</div>
					</div>
				</div>
				<div class="project-executed-table table-responsive">
					<table class="table table-borderless">
					  <thead>
					    <tr>
					      <th scope="col">project</th>
					      <th scope="col">category</th>
					      <th scope="col">completed on</th>
					      <th scope="col">modules</th>
					      <th scope="col" class="extra-pr">pass</th>
					      <th scope="col" class="extra-pr">fail</th>
					      <th scope="col">time taken</th>
					      <th scope="col"></th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr *ngFor="let project of executedProjects">
					      <th scope="row">{{project.project}}</th>
					      <td>{{project.category}}</td>
					      <td>{{project.completed_on}}</td>
					      <td>{{project.modules}}</td>
					      <td>{{project.pass}}</td>
					      <td>{{project.fail}}</td>
					      <td>{{project.time_taken}}</td>
					      <td class="result-button pull-right"><button>Results</button></td>
					    </tr>
					  </tbody>
					</table>
					<div class="view-all-button">
						<button>View All</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
