.app-footer {
  background: #012269;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 25px;
  font-weight: 300;
  .row {
    .deloitte-logo {
      position: absolute;
      right: 15px;
      top: 15px;
      width: 70px;
    }
    .prazu-logo {
      width: 65px;
    }
  	div {
  		margin-top: 5px;
      font-size: 12px;
  	}
  }
}