<div class="row">
  <div class="col-sm-12 app-footer text-center">
    <div class="row">
    	<img class="deloitte-logo" alt="Deloitte Logo" src="../assets/images/deloitte-logo.png">
    	<img class="prazu-logo" alt= "Prazu Logo" src="../assets/images/Group 11.png">
      <div>Copyright © 2018 Deloitte Development LLC. All rights reserved.</div>
    </div>
  </div>
</div>