<div class="row">
    <div class="col-sm-12 app-header">
        <div class="row">
            <div class="col-xs-3 col-sm-1 title">
            </div>
            <div *ngIf="!isRoot" class="col-xs-3 col-sm-4 welcome-msg">
                <span class="welcome">Hi {{user}}, Welcome</span>
            </div>
            <div *ngIf="isRoot" class="col-xs-6 col-sm-4 pull-right nav-items">
                <a [hidden]="currentUrl=='/register'" routerLink="register">Register</a>
                <a [hidden]="currentUrl=='/'" routerLink="/">Login</a>
            </div>
            <div *ngIf="!isRoot" class="col-xs-8 col-sm-2 pull-right nav-items">
                <a routerLink="">Logout</a>
            </div>
        </div>
    </div>
</div>