.app-header {
    background: transparent;
    height: 60px;
    color: #012269;
    border-bottom: 1px solid #D3D3D3;
    .title {
      background: url('../../assets/icons/prazu-black.png') no-repeat;
      background-size: contain;
      height: 45px;
      margin-left: 40px;
      margin-top: 5px;
      @media screen and (max-width: 1024px) {
        margin-top: 7px;
        height: 40px;
      }
        a {
            font-size: 2em;
            letter-spacing: 16px;
            font-weight: 700;
            color: #012269;
            text-decoration: none;
        }
    }
    .welcome-msg {
        height: 50px;
        display: flex;
        align-items: center;
        font-size: 18px;
        justify-content: center;
        font-size: 24px;
        color: #012269;
        padding-top: 10px;
    }
    .nav-items {
        font-size: 1.2em;
        text-align: right;
        padding-top: 17px;
        a {
            color: #012269;
            margin: 0px 20px;
            font-weight: 500;
            letter-spacing: 2px;
            cursor: pointer;
            padding-bottom: 10px;
        }
        a.btn {
          background: #86BC25;
          color: #000000;
          font-weight: 700;
          margin-top: -10px;
          padding: 10px 15px;
        }
        a.activated{
          //border-bottom: 5px solid #83BB23;
          font-weight: 900;
        }
        a:focus, a:hover {
            text-decoration: none;
            font-weight: 700;
            cursor: pointer;
        }
    }
    @media(max-width: 767px) {
        .title {
            margin-left: 2px; 
        } 
        .nav-items {
            a{
                margin: 0px 20px; 
            }
            .welcome {
                float: left;
            }
            a.btn {
                margin: -10px;
            }
        }
    }
}