<div class="project-details">
  <div class="project-details-header">
      <div class="project-name">Form</div>
      <div class="selenium-download-link">
          For successful test results,
          <a href="../../assets/downloadables/SeleniumDependencies.zip" target="_self">download and run selenium dependencies<img src="../assets/images/download-icon.png"> </a>
      </div>
  </div>
  <div class="project-form row">
      <div class="form-tab-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-10 row">
          <div class="tabs project-info col-xs-12 col-sm-4" (click)="activateTab('tab1')" [class.active-tab]="activeTab === 'tab1'">01 project info</div>
          <div class="tabs upload-execution-manager col-xs-12 col-sm-4" (click)="activateTab('tab2')" [class.active-tab]="activeTab === 'tab2'">02 upload execution manager</div>
          <div class="tabs upload-test-creation col-xs-12 col-sm-4" (click)="activateTab('tab3')" [class.active-tab]="activeTab === 'tab3'">03 upload test creation</div>
      </div>
      <div class="sections-wrapper">

          <div class="row tab-sections project-info-section" [class.hidden-section]="activeTab !== 'tab1'">
              <form (ngSubmit)='projectInfoFormSubmit()' #projectInfoForm="ngForm" novalidate>
                  <div class="form-group col-xs-12 col-sm-6 pull-left">
                      <label for="projectName">Project Name</label>
                      <input placeholder="Enter Project Name" type="text" class="form-control" id="projectName" required [(ngModel)]=defaultValues.projectName name="projectName" #projectName="ngModel">
                      <div [hidden]="projectName.valid || projectName.pristine" class="err-msg">
                          Project Name is required
                      </div>
                  </div>
                  <div class="form-group col-xs-12 col-sm-6 pull-right">
                      <label for="releaseName">Release Name</label>
                      <input placeholder="Enter Release Name" type="text" class="form-control" id="releaseName" [(ngModel)]=defaultValues.releaseName required name="releaseName" #releaseName="ngModel">
                      <div [hidden]="releaseName.valid || releaseName.pristine" class="err-msg">
                          Release Name is required
                      </div>
                  </div>
                  <div class="form-group col-xs-12 col-sm-6 pull-left">
                      <label for="browser">Browser</label>
                      <select class="form-control" id="browser" ngModel required name="browser" #browser="ngModel" [(ngModel)]=defaultValues.browser>
          <option class="hidden" value="default">Select Browser</option>
          <option *ngFor="let browser of browsers" [value]="browser.val">{{browser.data}}</option>
        </select>
                      <div [hidden]="browser.valid || browser.pristine" class="err-msg">
                          Please select a browser
                      </div>
                  </div>
                  <div class="form-group col-xs-12 col-sm-6 pull-right">
                      <label for="projectUrl">URL</label>
                      <input placeholder="Enter URL" type="url" class="form-control" id="projectUrl" [(ngModel)]=defaultValues.projectUrl required url name="projectUrl" #projectUrl="ngModel" >
                      <div *ngIf="projectUrl.invalid && (projectUrl.dirty || projectUrl.touched)" class="err-msg">
                          <div *ngIf="projectUrl.errors.required">URL is required</div>
                      </div>
                  </div>
                  <div class="form-group col-xs-12 col-sm-6 pull-left">
                      <label for="snapshot">Snapshot</label>
                      <select class="form-control" id="snapshot" ngModel required name="snapshot" #snapshot="ngModel" [(ngModel)]=defaultValues.snapshot>
          <option class="hidden" value="default">Select Snapshot</option>
          <option *ngFor="let snapshot of snapshots" [value]="snapshot.val">{{snapshot.data}}</option>
        </select>
                      <div [hidden]="snapshot.valid || snapshot.pristine" class="err-msg">
                          Please select a snapshot
                      </div>
                  </div>
                  <div class="form-group col-xs-12 col-sm-6 pull-right">
                      <label for="snapshotType">Snapshot Type</label>
                      <select class="form-control" id="snapshotType" ngModel required name="snapshotType" #snapshotType="ngModel" [(ngModel)]=defaultValues.snapshotType>
          <option class="hidden" value="default">Select Snapshot Type</option>
          <option *ngFor="let type of snapshotTypes" [value]="type.val">{{type.data}}</option>
        </select>
                      <div [hidden]="snapshotType.valid || snapshotType.pristine" class="err-msg">
                          Please select a snapshot type
                      </div>
                  </div>
                  <div class="form-group col-xs-12 col-sm-6 pull-left">
                      <label for="hostName">Host Name</label>
                      <!-- <select class="form-control" id="hostName" ngModel required name="hostName" #hostName="ngModel" [(ngModel)]=defaultValues.hostName>
          <option class="hidden" value="default">Select Host Name</option>
          <option *ngFor="let hostName of hostNames" [value]="hostName.val">{{hostName.data}}</option>
        </select> -->
                      <input placeholder="Enter your Ip address" type="text" class="form-control" id="hostName" [(ngModel)]=defaultValues.hostName required url name="hostName" #hostName="ngModel">
                      <div [hidden]="hostName.valid || hostName.pristine" class="err-msg">
                          Please select a host name
                      </div>
                  </div>
                  <div class="form-group col-xs-12 col-sm-6 pull-right">
                      <label for="localMachine">Local Machine</label>
                      <select class="form-control" id="localMachine" ngModel required name="localMachine" #localMachine="ngModel" [(ngModel)]=defaultValues.localMachine>
          <option class="hidden" value="default">Select Local Machine</option>
          <option *ngFor="let localMachine of localMachines" [value]="localMachine.val">{{localMachine.data}}</option>
        </select>
                      <div [hidden]="localMachine.valid || localMachine.pristine" class="err-msg">
                          Please select a local machine
                      </div>
                  </div>
                  <div class="form-check col-xs-12">
                      <input class="form-check-input" type="checkbox" id="dependencyCheckbox" ngModel required name="dependencyCheckbox" #dependencyCheckbox="ngModel">
                      <label class="form-check-label" for="dependencyCheckbox">
          I ensure that I downloaded all dependant files, Selenium stand alone server is up and running in my local
          machine.
        </label>
                  </div>
                  <div class="project-info-submit col-xs-6 col-xs-offset-6 pull-right">
                      <button type="submit" class="btn btn-success" [disabled]="!projectInfoForm.form.valid">Save and Continue</button>
                  </div>
              </form>
          </div>

          <div class="row tab-sections upload-execution-manager-section" [class.hidden-section]="activeTab !== 'tab2'">
              <!--Upload Execution Manager-->
              <div class="center">
                  <div class="hero is-fullheight">
                      <div class="hero-body">
                          <div class="no-gutter">
                              <div class="columns is-multiline">
                                  <div class="column is-6 is-offset-3">
                                      <div class="upload-box">
                                          <div class="upload-box-content">
                                              <div class="drop-container content" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
                                                  <div>
                                                      <div class="file-drop-img">
                                                          <img src="../assets/icons/Group43.png" />
                                                      </div>
                                                      <div class="file-drop-drag-text">
                                                          <span>Drag & drop your file for execution manager</span>
                                                      </div>
                                                      <div class="file-drop-or-text">
                                                          <span>OR</span>
                                                      </div>
                                                      <!--<input type="file" id="fileLoader" name="files" title="Load File" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" #fileLoader multiple />-->
                                                      <input type="file" (change)="onFileChange($event)" style="display:none" #fileInput>
                                                      <button (click)="fileInput.click()" class="btn file-drop-button" [disabled]=executionManagerUploaded>
                            <span class="file-drop-button-text">
                              Browse File
                            </span>
                            <img *ngIf="!executionManagerUploaded" class="file-drop-button-image" src="../assets/images/Upload Icon.png" />
                            <img *ngIf="executionManagerUploaded" class="file-drop-button-image" src="../assets/images/Upload.png" />
                          </button>
                                                      <div class="file-drop-max-text">
                                                          <span *ngIf="!executionManagerUploaded">You can upload a maximum of one file.</span>
                                                          <span *ngIf="executionManagerUploaded">You have reached the maximum upload limit.</span>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="upload-items">
                      <div *ngFor="let item of executionManagerFiles; let i=index" class="btn upload-items-button">
                          <img class="upload-item-image-tick" src="../assets/icons/Tick.png" />
                          <span class="upload-item-button-text">
              {{ item.name }}
            </span>
                          <img class="upload-item-button-cross" (click)="onRemoveExecutionManager(item.name)" src="../assets/icons/Fill23.png" />
                      </div>
                  </div>
              </div>
              <div class="execution-manager-submit col-xs-6 col-xs-offset-6 pull-right">
                  <button (click)="executionManagerSubmit()" class="btn btn-success" [disabled]="!executionManagerUploaded">Save and Continue</button>
              </div>
          </div>

          <div class="row tab-sections upload-test-creation-section" [class.hidden-section]="activeTab !== 'tab3'">
              <div class="center">
                  <div class="hero is-fullheight">
                      <div class="hero-body">
                          <div class="no-gutter">
                              <div class="columns is-multiline">
                                  <div class="column is-6 is-offset-3">
                                      <div class="upload-box">
                                          <div class="upload-box-content">
                                              <div class="drop-container content" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
                                                  <div>
                                                      <div class="file-drop-img">
                                                          <img src="../assets/icons/Group43.png" />
                                                      </div>
                                                      <div class="file-drop-drag-text">
                                                          <span>Drag & drop your Test Creation files</span>
                                                      </div>
                                                      <div class="file-drop-or-text">
                                                          <span>OR</span>
                                                      </div>
                                                      <!--<input type="file" id="fileLoader" name="files" title="Load File" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" #fileLoader multiple />-->
                                                      <input type="file" (change)="onFileChange($event)" style="display:none" #testInput>
                                                      <div (click)="testInput.click();" class="btn file-drop-button">
                                                          <span class="file-drop-button-text">
                              Browse File
                            </span>
                                                          <img class="file-drop-button-image" src="../assets/images/Upload Icon.png" />
                                                      </div>
                                                      <div class="file-drop-max-text">
                                                          <span>Upload the test creation files based on the sequence of module execution or upload a minimum of one file to save and continue.</span>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="upload-items">
                      <div *ngFor="let item of testCreationFiles; let i=index" class="btn upload-items-button">
                          <img class="upload-item-image-tick" src="../assets/icons/Tick.png" />
                          <span class="upload-item-button-text">
              {{ item.name }}
            </span>
                          <img class="upload-item-button-cross" (click)="onRemoveTestCreation(item.name)" src="../assets/icons/Fill23.png" />
                      </div>
                  </div>
              </div>
              <div class="test-creation-submit col-xs-6 col-xs-offset-6 pull-right">
                  <button (click)="testCreationSubmit()" class="btn btn-success" [disabled]="!testCreationUploaded">Save and Continue</button>
              </div>
          </div>
      </div>
  </div>
</div>
