/*#13ebff: #13ebff;
#6cefbd: #6cefbd;
#ff7080: #ff7080;
#ffe28b: #ffe28b;

#8793a2: #8793a2;
#c0c4c7: #c0c4c7;
#d2d6da: #d2d6da;

#2c3139: #2c3139;
#3a414a: #3a414a;
#3a4048: #3a4048;*/

.project-details {
	padding: 0 135px;
	@media screen and (max-width: 1246px) {
		padding: 0 80px;
	}
	.project-details-header {
		.project-name {
			font-size: 36px;
			color: #000;
			font-weight: 300;
			line-height: 45px;
		}
		.selenium-download-link {
			font-size: 14px;
			color: #74787b;
			font-family: 'Open Sans Regular';
			a {
				color: #012269;
				img {
					width: 18px;
					vertical-align: text-top;
    			margin-left: 5px;
				}
			}
		}
	}
	.project-form {
		margin-top: 10px;
		.form-tab-wrapper {
			margin: 0;
			.tabs {
				border-bottom: 1px solid #9dd4cf;
		    padding: 15px;
		    text-align: center;
		    text-transform: uppercase;
		    color: #74787b;
		    font-size: 14px;
		    font-family: 'Open Sans SemiBold';
		    cursor: pointer;
		    @media screen and (max-width: 974px) {
		    	min-height: 101px;
		    }
			}
			.tabs.active-tab {
				color: #000;
				border-bottom: 1px solid #000;
			}
		}
		.sections-wrapper {
			padding: 0 15px;
    	clear: both;
    	overflow: auto;
    	.tab-sections.project-info-section {
    		margin-top: 20px !important;
				form {
					.form-group {
						max-width: 440px;
						margin-bottom: 10px;
						label {
							font-size: 14px;
							color: #000;
						}
						input, select {
							background-color: #fff;
							border: 1px solid #9dd4cf;
							border-radius: 3px;
							height: 36px;
							font-size: 16px;
							color: #000;
							font-family: 'Open Sans Regular';
						}
						select[ng-reflect-model=default] {
							color: #999;
						}
						select {
							-webkit-appearance: none;
							background-image: url('../../assets/images/blue-caret.png');
							background-repeat: no-repeat;
							background-position: 97% center;
						}
							.err-msg {
							position: absolute;
					    font-size: 12px;
					    color: red;
						}
					}
					.form-check {
						margin-top: 5px;
						margin-bottom: 10px;
						label {
							font-size: 14px;
							color: #74787B;
							letter-spacing: 0;
							line-height: 28px;
							display: inline;
							margin-left: 10px;
							font-weight: 500;
						}
						input[type=checkbox], input[type=checkbox]:checked {
		          display: none;
		        }
		        input[type=checkbox] + label:before {
		          content: url('../../assets/images/uncheck.png');
		          margin-left: -8px;
					    vertical-align: text-top;
					    margin-right: 10px;
		        }
		        input[type=checkbox]:checked + label:before {
		          content: url('../../assets/images/checked.png');
		        }
					}
					.project-info-submit {
						max-width: 440px;
						margin-bottom: 20px;
						button {
							width: 100%;
							height: 40px;
							background-color: #7fc342;
							border: 1px solid #7fc342;
							border-radius: 2px;
							font-size: 14px;
							font-family: 'Open Sans Regular';
							text-transform: uppercase;
						}
						button[disabled] {
							background-color: #bbbdbc;
							border-color: #bbbdbc;
							opacity: 1;
						}
					}
				}
			}
			.tab-sections.hidden-section {
				display: none;
			}
			.tab-sections {
				margin-top: 30px;
				#fileLoader {
				  display: none;
				}
				.file-drop-img{
					text-align: center;
					margin: 15px;
				}
				.file-drop-drag-text{
					margin: 15px;
					font-family: Open Sans SemiBold;
					font-size: 15px;
					color: #BBBDBC;
					letter-spacing: 0;
					text-align: center;
				}
				.file-drop-or-text{
					margin: 15px;
					font-family: Open Sans Regular;
					font-size: 12px;
					color: #BBBDBC;
					letter-spacing: 0;
					text-align: center;
				}
				.file-drop-button{
					margin: 0px 100px;
					background: #7fc342;
					box-shadow: 0 10px 20px 0 rgba(187, 189, 188, 0.50);
					border-radius: 50px;
					text-align: center;
					height: 40px;
					width: 191px;
					&:disabled {
						background: #bbbdbc;
						opacity: 1;
					}
				}
				.file-drop-button-text{
					font-family: Open Sans Regular;
					font-size: 14px;
					color: #FFFFFF;
					letter-spacing: 1px;
					vertical-align: middle;
				}
				.file-drop-button-image{
					width: 24px;
					float: right;
				}
				.file-drop-max-text{
					margin: 15px;
					font-family: Open Sans Regular;
					font-size: 14px;
					color: #74787B;
					letter-spacing: 0;
					text-align: center;
				}
				.upload-items-button{
					margin: 20px 20px 0px 0px;
					background: #FFFFFF;
					border: 1px solid #BBBDBC;
					border-radius: 50px;
					text-align: center;
					height: 42px;
					width: 142px;
				}
				.upload-item-image-tick{
					width: 24px;
					margin-right: 6px;
				}
				.upload-item-button-text{
					font-family: Open Sans Regular;
					font-size: 12px;
					color: #74787B;
					vertical-align: middle;
					overflow: hidden;
			    white-space: nowrap;
			    display: inline-block;
			    text-overflow: ellipsis;
			    width: 68px;
				}
				.upload-item-button-cross{
					width: 12px;
					margin-left: 8px;
				}
				.center {
					margin: 0 15px;
				}
				.hero {
				  background: transparent;
				}
				.upload-box {
				  width: 100%;
				  height: auto;
				  display: inline-block;
				  border-radius: 10px;
				  background: #2c3139;

				  .upload-box-header {
				    width: 100%;
				    height: 50px;
				    border-top-left-radius: 10px;
				    border-top-right-radius: 10px;
				    background: #3a414a;
				    display: flex;
				    align-items: center;
				    justify-content: space-between;

				    .control-circles {
				      padding-left: 15px;
				      height: 14px;

				      .circle {
				        display: inline-block;
				        margin: 0 4px;
				        width: 14px;
				        height: 14px;
				        border-radius: 50%;

				        &.is-green {
				          background: #6cefbd;
				        }

				        &.is-yellow {
				          background: #ffe28b;
				        }

				        &.is-red {
				          background: #ff7080;
				        }
				      }
				    }

				    .header-title {
				      h2 {
				        //@include unselectable;
				        font-size: 18px;
				        font-weight: 400;
				        color: #8793a2;
				      }
				    }

				    .gh-icon {
				      padding-right: 15px;

				      i {
				        font-size: 24px;
				        color: #8793a2;
				        margin-right: 5px;
				        margin-left: 36px;
				        cursor: pointer;
				      }
				    }
				  }

				  .upload-box-content {

				    .upload-item,
				    .drop-container {
				      width: 100%;
				      height: 150px;
				      //box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.6);
				    }

				    .drop-container {
				      display: block;
				      height: 280px !important;
				      >div {
				      	max-width: 600px;
				      	margin: 0 auto;
				      	text-align: center;
				      }

				      p {
				        font-size: 16px;
				        font-weight: 400;
				        color: #8793a2;
				      }

				      .upload-button {
				        display: inline-block;
				        border: none;
				        outline: none;
				        cursor: pointer;
				        font-weight: 600;
				        padding: 0 2px;

				        input {
				          display: none;
				        }
				      }
				    }

				    .upload-item {
				      display: flex;
				      align-items: center;
				      padding: 0 30px;

				      .upload-item-content {
				        width: 100%;

				        .filename {
				          display: flex;
				          align-items: center;

				          i {
				            color: #8793a2;
				            opacity: 0.8;
				            font-size: 24px;
				            margin-right: 12px;
				          }

				          span {
				            color: #8793a2;
				            font-size: 14px;
				            font-weight: 400;
				          }
				        }

				        .progress-content {
				          display: flex;
				          align-items: center;
				          margin: 10px 30px;

				          .progress {
				            display: block;
				            position: relative;
				            width: 100%;
				            height: 12px;
				            border-radius: 10px;
				            background: #3a4048;

				            .bar {
				              position: absolute;
				              top: 0;
				              left: 0;
				              height: 12px;
				              background: linear-gradient(90deg, rgba(19, 235, 255, 1) 0%, rgba(108, 239, 189, 1) 100%);

				              &.is-done {
				                background: #6cefbd;
				              }
				            }
				          }
				        }

				        .progress-text-content {
				          display: flex;
				          align-items: center;
				          justify-content: space-between;
				          margin: 10px 30px 0;

				          .progress-text {
				            font-size: 13px;
				            font-weight: 600;
				            color: #13ebff;
				            transition: color 200ms ease-out;

				            &.is-done {
				              color: #6cefbd;
				            }
				          }

				          .speed-and-eta-text {
				            font-size: 13px;
				            font-weight: 600;
				            color: #8793a2;
				          }
				        }
				      }
				    }
				  }

				  .help-text {
				    width: 100%;
				    display: inline-block;
				    padding: 10px 30px;
				    font-size: 12px;
				    color: #8793a2;
				    box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.6);

				    span {
				      display: block;
				      text-align: center;
				      margin: 5px 0;

				      img {
				        display: block;
				        width: 30px;
				        margin: 0 auto 5px auto;
				      }
				    }
				  }
				}
				.execution-manager-submit, .test-creation-submit {
					max-width: 440px;
					margin-top: 15px;
					margin-bottom: 15px;
					button {
						width: 100%;
						height: 40px;
						background-color: #7fc342;
						border: 1px solid #7fc342;
						border-radius: 2px;
						font-size: 14px;
						font-family: 'Open Sans Regular';
						text-transform: uppercase;
					}
					button[disabled] {
						background-color: #bbbdbc;
						border-color: #bbbdbc;
						opacity: 1;
					}
				}
			}
		}
	}
}