<div class="row">
  <div class="col-sm-offset-1 col-sm-10 form-reset-password">
    <div class="row form-reset-password-container">
        <div class="col-sm-6 form-reset-password-poster">
          <div class="image"></div>
        </div>
        <div class="col-sm-6 form-reset-password-inputs">
          <div class="message error-message" *ngIf="requestFailed">
            <img alt="Cross" src="../assets/images/Cross.png">
            <div>Something went wrong. Please try again.</div>
          </div>
          <div class="message success-message" *ngIf="showStatusMsg && messageType=='success'">
            <img alt="Tick" src="../assets/images/Tick.png">
            <div>{{statusMsg}}</div>
          </div>
          <div class="message error-message" *ngIf="showStatusMsg && messageType=='error'">
            <img alt="Cross" src="../assets/images/Cross.png">
            <div>{{statusMsg}}</div>
          </div>
          <p *ngIf="!manageSections.enterPassword" class="title">Forgot Password</p>
          <p *ngIf="manageSections.enterPassword" class="title">Change Password</p>
          <hr/>
          <div *ngIf="manageSections.enterEmail && !manageSections.enterOtp && !manageSections.enterPassword" class="forgot-password">
            <div class="desc-text">
              Please enter your registered e-mail address
            </div>

            <input email type="email" required placeholder="Enter registered email address" [(ngModel)]="userEmail" id="userEmails" name="userEmails" #userEmails="ngModel">
            <div *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)" class="err-msg">
              <div *ngIf="userEmail.errors.required">Email is required</div>
              <div *ngIf="userEmail.errors.email">Email is invalid</div>
            </div>

            <button [disabled]="!userEmails.valid" class="btn btn-login" (click)="getOtp()">SEND OTP</button>
            
            <div class="col-sm-12 form-reset-password-register">
              <p>Remember your passwod ? <span><a routerLink="/" href="#">Login</a></span></p>
            </div>
          </div>
          <div *ngIf="!manageSections.enterEmail && manageSections.enterOtp && !manageSections.enterPassword" class="enter-otp">
            <div class="desc-text">
              Please enter OTP to proceed to change password
            </div>

            <input type="text" placeholder="Enter OTP" [(ngModel)]="otp" required id="userOtp" name="userOtp" #userOtp="ngModel">
            <div [hidden]="userOtp.valid || userOtp.pristine" class="err-msg">
              OTP is required
            </div>

            <button [disabled]="!userOtp.valid" class="btn btn-login" (click)="verifyOtp()">NEXT</button>

            <div class="col-sm-12 form-reset-password-register">
              <p>Remember your passwod ? <span><a routerLink="/" href="#">Login</a></span></p>
            </div>
          </div>
          <div *ngIf="!manageSections.enterEmail && !manageSections.enterOtp && manageSections.enterPassword" class="change-password">
            <form (ngSubmit)="changePassword()" #changePasswordForm="ngForm" novalidate>
              <input type="password" placeholder="Enter New Password" [(ngModel)]="newPassword" required id="newPswd" name="newP" #newPswd="ngModel" (ngModelChange)="checkEmpty($event)">
              <div [hidden]="newPswd.valid || newPswd.pristine" class="err-msg">
                Password is required
              </div>
              <input type="password" placeholder="Re-enter New Password" [(ngModel)]="reEnterPassword" required id="reEnterPswd" name="reEnterPswd" #reEnterPswd="ngModel" (ngModelChange)="checkSame($event)">
              <div [hidden]="reEnterPswd.valid || reEnterPswd.pristine" class="err-msg">
                Re-enter the password
              </div>
              <div [hidden]="passwordMatched && isEmpty" class="err-msg">
                Passwords are not matching
              </div>

              <button type="submit" class="btn btn-login" [disabled]="isDisabled">CHANGE PASSWORD</button>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
