/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}
body {
  position: relative;
  padding-bottom: 76px;
  min-height: 100%;
  overflow: auto;
    // margin: 0;
    // background: -webkit-linear-gradient(left, #003A7E, #0086C6);
    // font-family: 'Montserrat', sans-serif;
}

// .container {
//     // display: flex;
//     // justify-content: center;
//     // align-items: center;
//     #content {
//         padding: 30px 50px;
//         ul {
//             list-style-type: none;
//             margin: 0;
//             padding: 0;
//             li {
//                 background: #fff;
//                 border-radius: 8px;
//                 padding: 20px;
//                 margin-bottom: 8px;
//                 a {
//                     font-size: 1.5em;
//                     text-decoration: none;
//                     font-weight: bold;
//                     color: #00A8FF;
//                 }
//                 ul {
//                     margin-top: 20px;
//                     li {
//                         padding: 0;
//                         a {
//                             font-size: 1em;
//                             font-weight: 300;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
button {
    border-color: transparent;
}
.content {
  height: 310px !important;
  background: #FFFFFF !important;
  border: 3px dashed #BBBDBC !important;
  border-radius: 3px !important;
}

.no-gutter {
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
}