<div class="row">
  <div class="col-sm-offset-1 col-sm-10 form-register">
    <div class="row form-register-container">
      <div class="col-sm-6 form-register-in-poster">
        <div class="image"></div>
      </div>
      <div class="col-sm-6 form-register-inputs">
        <p class="title">Register</p>
        <hr />
        <div class="message error-message" *ngIf="requestFailed">
          <img alt="Cross" src="../assets/images/Cross.png">
          <div>Something went wrong. Please try again.</div>
        </div>
        <form #registerForm="ngForm" novalidate>
          <input type="text" placeholder="First Name" [(ngModel)]="firstName" required id="fName" name="fName" #fName="ngModel">
          <div [hidden]="fName.valid || fName.pristine" class="err-msg">
            First Name is required
          </div>

          <input type="text" placeholder="Last Name" [(ngModel)]="lastName" required id="lName" name="lName" #lName="ngModel">
          <div [hidden]="lName.valid || lName.pristine" class="err-msg">
            Last Name is required
          </div>

          <select id="role" name="role" [(ngModel)]="roleName" required #role="ngModel">
            <option class="hidden" value="default">Select your Role</option>
			      <option *ngFor="let role of roles" [value]="role.val">{{role.data}}</option>
          </select>
          <div [hidden]="role.valid || role.pristine" class="err-msg">
            Please select a role
          </div>

          <select id="project" name="project" [(ngModel)]="projectName" required #project="ngModel">
            <option class="hidden" value="default">Select your project</option>
            <option *ngFor="let project of projects" [value]="project.val">{{project.data}}</option>
          </select>
          <div [hidden]="project.valid || project.pristine" class="err-msg">
            Please select a project
          </div>

          <input email required type="email" placeholder="Email" [(ngModel)]="email" id="userEmail" name="userEmail" #userEmail="ngModel">
          <div *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)" class="err-msg">
            <div *ngIf="userEmail.errors.required">Email is required</div>
            <div *ngIf="userEmail.errors.email">Email is invalid</div>
          </div>

          <input type="password" placeholder="Password" [(ngModel)]="password" required id="userPassword" name="userPassword" #userPassword="ngModel" (ngModelChange)="checkEmpty($event)" minlength="6">
          <div *ngIf="userPassword.invalid && (userPassword.dirty || userPassword.touched)" class="err-msg">
            <div *ngIf="userPassword.errors.required">Password is required</div>
            <div *ngIf="userPassword.errors.minlength">Password must be at least 6 characters long</div>
          </div>

          <input type="password" placeholder="Confirm Password" [(ngModel)]="confirmPasswords" required id="reEnterPassword" name="reEnterPassword" #reEnterPassword="ngModel" (ngModelChange)="checkSame($event)">
          <div [hidden]="reEnterPassword.valid || reEnterPassword.pristine" class="err-msg">
            Re-enter the password
          </div>
          <div [hidden]="passwordMatched && isEmpty" class="err-msg">
            Passwords are not matching
          </div>

          <button [disabled]="!registerForm.valid || (registerForm.valid && isDisabled)" class="btn btn-register" (click)="handleRegister()">REGISTER</button>
        </form>
        <div class="col-sm-12 form-register-login">
          <p>Already have an account ? <span><a routerLink="/" href="#">Login</a></span></p>
        </div>
      </div>
    </div>
  </div>
</div>