.form-register {
    background: #fff;
    //border: 1px solid #eee;
    // border-radius: 10px;
    padding-bottom: 30px;
    //height: 702px;
    //border-top: #00a3e0 4px solid;
    .form-register-icon {
        position: relative;
        top: -40px;
        img {
            border: 1px solid #ffffff;
            border-radius: 40px;
        }
    }
    .form-register-inputs {
        .message {
            background: #9dd4cf;
            color: #fff;
            font-family: 'Open Sans SemiBold';
            padding: 6px 10px;
            margin-top: 20px;
            img {
                width: 30px;
                margin-right: 10px;
                display: inline-block;
            }
            div {
                display: inline-block;
                width: calc(100% - 40px);
                vertical-align: middle;
                font-size: 13px;
            }
        }
        .error-message {
            background: #da291c;
        }
        //margin-top: -25px;
        padding: 0px 72px;
        @media screen and (max-width: 1024px) {
            padding: 0 40px;
        }
        input,
        select {
            width: 100%;
            height: 40px;
            margin-top: 15px;
            padding: 0 15px;
            // border-radius: 8px;
            outline: none;
            // border: none;
            // border-bottom: 1px solid #000;
            background: #FFFFFF;
            border: 1px solid #9DD4CF;
            border-radius: 3px;
            font-size: 16px;
            color: #000000;
        }
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
        select[ng-reflect-model=default] {
            color: #000000;
        }
        select {
            -webkit-appearance: none;
            background-image: url('../../assets/images/blue-caret.png');
            background-repeat: no-repeat;
            background-position: 97% center;
        }
        .err-msg {
            position: absolute;
            font-size: 12px;
            color: red;
        }
        .title {
            font-size: 36px;
            color: #000000;
            letter-spacing: 0;
            font-weight: 300;
            line-height: 60px;
            margin-top: 15px;
        }
        .forgot-password {
            font-size: 16px;
            color: #012269;
            letter-spacing: 0;
            margin: 10px 0 0;
        }
        .btn-register {
            width: 100%;
            height: 45px;
            margin-top: 20px;
            font-size: 14px;
            color: #ffffff;
            font-weight: 300;
            background: #7FC342;
            border-radius: 2px;
            //padding: 15px 0;
            //letter-spacing: 2px;
            &:disabled {
                background-color: #bbbdbc;
                border-color: #bbbdbc;
                opacity: 1;
            }
        }
    }
    .form-register-login {
        text-align: center;
        font-size: 16px;
        color: #74787B;
        letter-spacing: 0;
        opacity: 0.96;
        margin-top: 10px;
        a {
            color: #01102D;
            line-height: 22px;
        }
    }
    .tool-tip {
        width: 25px;
        height: 25px;
        background: url('../../assets/icons/tool-tip.svg')
    }
    .error-msg {
        margin-top: 5px;
        margin-bottom: 0;
        color: red;
    }
    .form-register-in-poster {
        background: url('../../assets/images/loginGradient.png');
        background-size: cover;
        .image {
            background: url('../../assets/images/RegisterImage.png');
            height: 100%;
            background-size: 100% 100%;
            position: relative;
            top: 50px;
            right: 20%;
            width: 132%;
        }
    }
    .form-register-container {
        display: flex;
        @media screen and (max-width: 1024px) {
            margin-top: 10%;
        }
    }
    hr {
        width: 50%;
        margin: 0 0 10px 0;
        padding: 0;
        background: linear-gradient(to right, #979797 100%, #C8C8C8 0%);
    }
}