.form-reset-password {
    background: #fff;
    //border: 1px solid #eee;
    // border-radius: 10px;
    padding-bottom: 30px;
    //border-top: #00a3e0 4px solid;
    .form-reset-password-icon {
        position: relative;
        top: -40px;
        img {
            border: 1px solid #ffffff;
            border-radius: 40px;
        }
    }
    .form-reset-password-inputs {
        //margin-top: -25px;
        padding: 0 72px;
        @media screen and (max-width: 1024px) {
            padding: 0 40px;
        }
        input {
            width: 100%;
            height: 40px;
            margin-top: 15px;
            padding: 19px 0 19px 15px;
            // border-radius: 8px;
            outline: none;
            // border: none;
            // border-bottom: 1px solid #000;
            background: #FFFFFF;
            border: 1px solid #9DD4CF;
            border-radius: 3px;
            font-size: 16px;
            color: #000000;
        }
        .title {
            font-size: 36px;
            color: #000000;
            letter-spacing: 0;
            font-weight: 300;
            line-height: 60px;
            margin-top: 15px;
        }
        .desc-text {
            font-size: 16px;
            color: #74787b;
            letter-spacing: 0;
            margin-top: 15px;
        }
        .btn-login {
            width: 100%;
            height: 45px;
            margin-top: 20px;
            font-size: 14px;
            color: #ffffff;
            font-weight: 300;
            background: #7FC342;
            border-radius: 2px;
            //padding: 15px 0;
            //letter-spacing: 2px;
        }
    }
    .form-reset-password-register {
        text-align: center;
        font-size: 16px;
        color: #74787B;
        letter-spacing: 0;
        opacity: 0.96;
        margin-top: 10px;
        a {
            color: #01102D;
            line-height: 22px;
        }
    }
    .tool-tip {
        width: 25px;
        height: 25px;
        background: url('../../assets/icons/tool-tip.svg')
    }
    .form-errors {
        color: red;
        font-size: 13px;
        line-height: 14px;
    }
    .form-reset-password-poster {
        .image {
            height: 100%;
            background: url('../../assets/images/forgot-password-bg-1.jpg') no-repeat;
            background-size: 100% 100%;
            position: relative;
            @media screen and (max-width: 1024px) {
                background: url('../../assets/images/forgot-password-bg-ipad.jpg') no-repeat;
                background-size: 100% 100%;
            }
        }
    }
    .form-reset-password-container {
        display: flex;
        @media screen and (max-width: 1024px) {
            margin-top: 25%;
        }
    }
    hr {
        width: 40%;
        margin: 0 0 10px 0;
        padding: 0;
        background: linear-gradient(to right, #979797 100%, #C8C8C8 0%);
    }
}