<div class="row">
  <div class="col-sm-offset-1 col-sm-10 form-reset-password">
    <div class="row form-reset-password-container">
        <div class="col-sm-6 form-reset-password-poster">
          <div class="image"></div>
        </div>
        <div class="col-sm-6 form-reset-password-inputs">
          <p class="title">Forgot Password</p>
          <hr/>
          <div class="enter-otp">
            <div class="desc-text">
              Please enter OTP to proceed to change password
            </div>

            <input type="text" placeholder="Enter OTP" [(ngModel)]="otp">

            <button class="btn btn-login" (click)="handleLogin()">NEXT</button>

            <div class="col-sm-12 form-reset-password-register">
              <p>Remember your passwod ? <span><a routerLink="/" href="#">Login</a></span></p>
            </div>
          </div>
          <div class="change-password">
            <input type="password" placeholder="Enter New Password" [(ngModel)]="newPassword">

            <input type="password" placeholder="Re-enter New Password" [(ngModel)]="newPassword">

            <button class="btn btn-login" (click)="handleLogin()">CHANGE PASSWORD</button>
          </div>
        </div>
    </div>
  </div>
</div>