.results-container {
    .page-title {
        font-size: 36px;
        color: #000000;
        letter-spacing: 0;
        font-weight: 300;
        margin-bottom: 35px;
        line-height: 45px;
    }
    .test-results {
        .pie-chart {
            background: #fff;
            box-shadow: -10px 10px 20px 0 rgba(30, 30, 30, 0.05);
        }
        .result-box {
            display: flex;
            justify-content: center;
            .result-block {
                background: #ffffff;
                box-shadow: -10px 10px 20px 0 rgba(30, 30, 30, 0.05);
                height: 110px;
                padding: 10px;
                display: flex;
                align-items: center;
                margin: 0 10px 40px 10px;
                .count {
                    text-align: left;
                    font-size: 28px;
                    color: #282D32;
                    letter-spacing: 0;
                    font-family: 'Open Sans SemiBold';
                }
                .title {
                    font-size: 13px;
                    color: #282D32;
                    letter-spacing: 0;
                }
            }
            img {
                height: 56px;
                width: 40px;
            }
        }
    }
    .drilldown-results {
        background: #FFFFFF;
        box-shadow: -10px 10px 20px 0 rgba(30, 30, 30, 0.05);
        margin-top: 20px;
        .drilldown-container {
            border-right: 1px solid #E9E9E9;
            padding: 25px;
            .drilldown-title {
                font-size: 14px;
                color: #282D32;
                letter-spacing: 0;
                text-align: left;
                line-height: 20px;
                margin-bottom: 50px;
            }
            .drilldown-chart {
                height: 210px;
            }
        }
        .drilldown-analytics {
            padding: 25px 50px;
            .drilldown-title {
                font-size: 14px;
                color: #282D32;
                letter-spacing: 0;
                text-align: left;
                line-height: 20px;
                padding-left: 0;
            }
            .drilldown-reports,
            .drilldown-options {
                border-bottom: 1px solid #E9E9E9;
                padding: 19px 0 41px 0;
                .report {
                    &.left {
                        border-right: 1px solid #E9E9E9;
                        .module {
                            color: #30B9BA;
                        }
                    }
                    &.right {
                        padding-left: 42px;
                        .module {
                            color: #DA291C;
                        }
                    }
                }
                .title {
                    font-size: 13px;
                    color: #282D32;
                    letter-spacing: 0;
                }
                .count {
                    font-size: 30px;
                    color: #4A4A4A;
                    letter-spacing: 0;
                    font-family: 'Open Sans Regular';
                }
                .module {
                    font-size: 20px;
                    letter-spacing: 0;
                    font-family: 'Open Sans Regular';
                }
            }
            .drilldown-options {
                padding: 41px 0 19px 0;
                border-bottom: none;
                .report {
                    &.left {
                        border-right: none;
                    }
                }
                @media screen and (max-width: 992px) {
                    text-align: center;
                }
            }
            .download-btn {
                background: #ffffff;
                border: 1px solid #F2F2F2;
                border-radius: 19px;
                box-shadow: 0 10px 20px 0 rgba(227, 227, 227, 0.50);
                @media screen and (max-width: 992px) {
                    margin-top: 20px;
                }
                img {
                width: 25px;
                margin-left: 5px;
              }
            }
        }
    }
    .chart {
        margin-top: 20px;
        // outline: none;
        // border: 1px solid transparent;
    }
    .pass-board {
        background: #fff;
        border: 1px solid rgb(188, 188, 188);
        min-height: 300px;
        margin: 0 -15px;
        .title {
            font-size: 1.1em;
            font-weight: 700;
            text-align: center;
            letter-spacing: 1px;
            position: relative;
            top: 3px;
            color: #000;
        }
        .pass-percent {
            font-size: 7em;
            font-weight: 300;
            color: #9fda3a;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 250px;
            letter-spacing: 1px;
            .percent {
                font-size: 50px;
            }
        }
    }
    .project-details-link {
      margin-top: 30px;
      padding: 0;
      a {
        margin-left: 10px;
        font-size: 18px;
        color: #012269;
        vertical-align: middle;
        font-family: 'Open Sans Regular';
      }
    }
    // .result-box {
    //     padding: 30px;
    //     background: #fff;
    //     border: 1px sold #eee;
    //     margin-top: 25px;
    //     border-top: 4px solid #83BB23;
    //     .results-button {
    //         border-right: #eee 2px solid;
    //     }
    //     a {
    //         display: block;
    //     }
    //     .result-text {
    //         font-size: 1.5em;
    //         font-weight: 300;
    //         margin-bottom: 30px;
    //     }
    //     .btn {
    //         font-size: 1.2em;
    //         color: #ffffff;
    //         font-weight: 300;
    //         background: #83BB23;
    //         border-radius: 0;
    //         padding: 15px 25px;
    //         letter-spacing: 1px;
    //         outline: none;
    //     }
    //     .icon {
    //         width: 20px;
    //         height: 20px;
    //         display: inline-block;
    //         background: url('../../assets/icons/download.svg') no-repeat;
    //     }
    // }
    @media(max-width: 767px) {
        .result-box {
            padding: 10px;
            .results-button {
                border-right: none;
                margin-bottom: 30px;
            }
            .result-text {
                margin-bottom: 15px;
            }
            .route-button {
                margin-top: -30px;
            }
        }
    }
}

.share-report {
    position: fixed;
    top: 90px;
    right: 15px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 1em;
    font-family: fantasy;
    cursor: pointer;
    .icon {
        background: url('../../assets/icons/mail_open.png') no-repeat;
        height: 65px;
        width: 65px;
        background-size: cover;
    }
}