<div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 results-container">
        <div class="row">
            <div class="row page-title">
                Results
            </div>
            <div class="row test-results">
                <div class="col-sm-5 pie-chart" style="height: 260px;">
                    <canvas baseChart [chartType]="'pie'" [datasets]="summaryChartData" [labels]="summaryChartLabels" [options]="summaryChartOptions" [legend]="true" [colors]="summaryChartColors" (chartClick)="onChartClick($event)">
                    </canvas>
                </div>
                <div class="col-sm-6 col-sm-offset-1">
                    <div class="row">
                        <div class="row result-box">
                            <div class="col-sm-6 result-block left">
                                <div class="col-sm-6">
                                    <div class="count">{{testCasesSummary.total}}</div>
                                    <div class="title">Total Test Cases</div>
                                </div>
                                <div class="col-sm-6">
                                    <img src="../../assets/icons/results_test-cases.png">
                                </div>
                            </div>
                            <div class="col-sm-6 result-block right">
                                <div class="col-sm-6">
                                    <div class="count">{{testModulesSummary.total}}</div>
                                    <div class="title">Total Modules Tested</div>
                                </div>
                                <div class="col-sm-6">
                                    <img src="../../assets/icons/results_modules.png">
                                </div>
                            </div>
                        </div>
                        <div class="row result-box">
                            <div class="col-sm-6 result-block left">
                                <div class="col-sm-6">
                                    <div class="count">{{testCasesSummary.pass}}</div>
                                    <div class="title">Total Pass</div>
                                </div>
                                <div class="col-sm-6">
                                    <img src="../../assets/icons/results_pass.png">
                                </div>
                            </div>
                            <div class="col-sm-6 result-block right">
                                <div class="col-sm-6">
                                    <div class="count">{{testCasesSummary.fail}}</div>
                                    <div class="title">Total Fail</div>
                                </div>
                                <div class="col-sm-6">
                                    <img src="../../assets/icons/results_fail.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row drilldown-results">
                <div class="row">
                    <div class="col-sm-7 drilldown-container">
                        <div class="row">
                            <div class="col-sm-12 drilldown-title">DRILL DOWN ANALYSIS OF TEST RESULTS</div>
                            <div class="col-sm-12 drilldown-chart">
                                <canvas baseChart [chartType]="'bar'" [datasets]="drilldownChartData" [labels]="drilldownChartLabels" [options]="drilldownChartOptions" [legend]="true" [colors]="drilldownChartColors" (chartClick)="onChartClick($event)">
                                </canvas>
                            </div>
                        </div>
                        <!-- <div class="title">DRILL DOWN ANALYSIS OF TEST RESULTS</div> -->

                    </div>
                    <div class="col-sm-5 drilldown-analytics">
                        <div class="col-sm-12 drilldown-title">REPORT</div>
                        <div class="col-sm-12 drilldown-reports">
                            <div class="row">
                                <div class="col-sm-6 report left">
                                    <div class="title">Highest Pass Cases</div>
                                    <div class="count">{{testModulesSummary.highestPass.count}}</div>
                                    <div class="module">{{testModulesSummary.highestPass.name}}</div>
                                </div>
                                <div class="col-sm-6 report right">
                                    <div class="title">Lowest Pass Cases</div>
                                    <div class="count">{{testModulesSummary.lowestPass.count}}</div>
                                    <div class="module">{{testModulesSummary.lowestPass.name}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 drilldown-options">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 report report-sm left">
                                    <div class="title">Performance</div>
                                    <div class="module">+0.05%</div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <a class="btn download-btn" href="{{pdfUrl}}" target="_blank">
                                        Download Report
                                        <img src="../assets/images/download-icon.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row project-details-link">
                <img src="../assets/images/form.png">
                <a routerLink="/project-details" href="#">New Project Details Form</a>
            </div>
        </div>
    </div>
</div>

<!-- <div style="width: 40%;">
    <canvas baseChart [chartType]="'line'" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="true" (chartClick)="onChartClick($event)">
  </canvas>
</div> -->
